[init]
	defaultBranch = main
[user]
	email = 112358.fn@gmail.com
	name = Alvaro Alonso
[push]
	default = current
[credential]
	helper = store
[core]
	excludesfile = ~/.gitignore
	editor = hx
[commit]
	gpgsign = true
